body{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr {
  border-style:none;
  border-top-style: dotted;
  border-color: #caf7e3;
  border-width:8px;
  width: 5%;
  margin: 50px auto;
  position: relative;
}
.top-container {
  background-color: #e8ffff;
  padding-top: 100px;
  position: relative;
}
h1{
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
.text-intro{
  width: 30%;
  margin: 10px auto auto;
}

.middle-container{
 padding: 100px 0 0;
}
.bottom-container{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66BFBF;
}
.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.skill-VBA-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-wine-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.web-dev{
  font-weight: normal;
  line-height: 2;
  text-align: center;
}
.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.button-contact-me {
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 7px;
   background-color: #11999E;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.contact-me{
  margin: 40px auto 40px auto;
  position: relative;
}
.footer-rights{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.last-text{
  width: 30%;
  margin: 40px auto 60px;
}
